<%- include('./partials/header') %>

<section id="main-content" class="main-content-bg">
    <div class="content-wrapper">
        <h2 id="two-lines">
          WALL STREET TAKEOVER <br>
          YOUR FINANCIAL FUTURE<br>
        </h2>
        <p id="main-intro">
          
          It's never too soon to start thinking about your financial future, and to start saving for it.
          My mission is to simplify your current financial situation, and help you prepare for what is down the road.
          I work with my clients to help them better understand what options are available, and advise them on the best investment
          decisions to make. Together we'll set, achieve, and exceed all of your financial goals.
        </p>
      
          <h4 id="discord-post">
              <a href="https://discord.com/" id="discord-link">Here is the link to sign up to my discord</a>
          </h4>

    </div>

</section>

<div class="image-container">
    <div class="image-wrapper">
      <img src="https://i.imgur.com/CT2hKgm.png" alt="Image 1" class="image">
      <div class="image-overlay">
        <h3 class="image-text">+$100 Million In Profits</h3>
      </div>
    </div>
    <div class="image-wrapper">
      <img src="https://i.imgur.com/UO6IdF3.png" alt="Image 2" class="image">
      <div class="image-overlay">
        <h3 class="image-text">10,000+ Members</h3>
      </div>
    </div>
    <div class="image-wrapper">
      <img src="https://i.imgur.com/DdXQNym.png" alt="Image 3" class="image">
      <div class="image-overlay">
        <h3 class="image-text">89% Win Rate</h3>
      </div>
    </div>
  </div>

  <div class="about-section">
    <div class="about-text">
      <h2>About</h2>
      <p>We are an experienced Stock Trader & Sports Betting 
        Community committed to helping clients strategize and 
        invest for their future financial security. 
        We specialize in assessing each of our client’s unique 
        needs and creating a personalized investment plan that 
        matches a large range of interests. Throughout the years, 
        we’ve gained invaluable experience working in a variety of 
        markets, guaranteeing you receive the guidance needed to 
        achieve investment success.</p>
    </div>
    <div class="about-image">
      <img src="https://i.imgur.com/OgewUGT.png" alt="About Image">
    </div>
  </div>

  <section class="contact-section">
    <div class="contact-content">
      <h2 class="contact-heading">Contact</h2>
      <p class="contact-description">Got any questions or inquiries? Feel free to reach out to us.</p>
      <div class="contact-details">
        <div class="contact-info">
          <i class="fas fa-envelope contact-icon"></i>
          <a href="mailto:kamaljitga@gmail.com" class="contact-link">kamaljitga@gmail.com</a>
        </div>
        <div class="contact-info">
          <i class="fas fa-phone contact-icon"></i>
          <a href="tel:+3473278345" class="contact-link">347-327-8345</a>
        </div>
      </div>
    </div>
  </section>
  

<%- include('./partials/footer') %>
